@import url('htpps://fonts.googleapis.com/css?famimly=Poppins:400,500,600,700,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131419;
}

.form{
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    background: #131419;
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                5px 5px 15px rgba(0,0,0,0.5);
}
.title{
    color: #c7c7c7;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.form .input{
    text-align: left;
    margin-top: 40px;
}
.form .input .inputBox{
    margin-top: 20px;
}
.form .input .inputBox label{
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
}
.form .input .inputBox input{
    width: 100%;
    height: 50px;
    background: #131419;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
                inset 2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .inputBox input[type="submit"]{
    margin-top: 20px;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
    cursor: pointer;
}
.form .input .inputBox input[type="submit"]:active{
    color: #006c9c;
    margin-top: 20px;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
                inset 2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .inputBox input::placeholder{
    color: #555;
    font-size: 18px;
}
.forget{
    margin-top: 30px;
    color: #555;
}
.forget a{
    color: #ff0047;
}
.light1{
    background: #ebf5fc;
}
.light2 {
    background: #ebf5fc;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
                5px 5px 10px rgba(0,0,0,0.1);
}
.form .input .inputBox.light1 input{
    background: #ebf5fc;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,1),
                inset 2px 2px 6px rgba(0,0,0,0.1);
    color: #32a3b1;
}
.form .input .inputBox.light1 input[type="submit"] {
    background: #ebf5fc;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
                5px 5px 10px rgba(0,0,0,0.1);
    color: #32a3b1;
}
.form .input .inputBox.light1 input[type="submit"]:active{
    box-shadow: inset -2px -2px 6px rgba(255,255,255,1),
                inset 2px 2px 6px rgba(0,0,0,0.1);
}
.form .input .inputBox.light1 input::placeholder{
    color: #bdcada;
}
.tl{
    color: #32a3b1;
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0000009a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0000009a;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }